# Flask Application Configuration Template
# Duplicate this file as '.env' and fill in your actual values.
# DO NOT commit the '.env' file to version control!

# Flask Secret Key (use a secure random string in production)
SECRET_KEY=3f3d12017c4f9d6c5a0e6f6b1d6a3d3f

# Email Settings for Flask-Mail
EMAIL_USER=[EMAIL_ADDRESS]
EMAIL_PASS=tmdc xzav hswk nqip
